<div class="container">
  <h1>Tools available</h1>

  <div class="tool-container">
    <% @tools.each do |tool| %>
      <div>
         <div class="tool-card">
          <div class="Text-box">
            <h2><%= link_to tool.name, tool_path(tool), :target => "_blank" %></h2>
          </div>
          <div class="tool-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1504148455328-c376907d081c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60)">
            <div class='tool-info'>
              <p>
                <% if tool.availability_status%>
                  <i class="far fa-check-circle"></i>available
                <% else %>
                  <i class="far fa-times-circle">reserved</i>available
                <% end %>
              </p>
            </div>
            <div class='tool-info'>
              <p>
                $<%= tool.price %> per day
              </p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
