<div class="banner">
  <div class="container">
    <h1><%= image_tag "logo.png" %><strong> Toolbrary</strong></h1>
    <body>
     <form class="search-container">
       <input type="text" id="search-bar" placeholder="Drill">
       <a href="#"><img class="search-icon" src="http://www.endlessicons.com/wp-content/uploads/2012/12/search-icon.png"></a>
     </form>
    </body>
  </div>
</div>
