.yellow-btn {
  background: #eecd1a;
  color: white;
  font-size: 20px;
}

.red-btn {
  background: #e05b57;
  color: white;
  font-size: 20px;
}

// input[type="file"] {
//     display: none;
// }

// .upload-image-btn {
//   background: #eecd1a;
//   color: white;
//   display: inline-block;
//   padding: 8px;
//   cursor: pointer;
//   border-radius: 4px;
//   p {
//   margin: 0px auto;
//   }

// }
