.footer {
  background: $zdark-gray;
  height: 75px;
  padding: 0px 50px;
  color: $zlight-gray;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  width: 100%;

}

.footer .fa-hammer {
  color: $zyellow;
}
