.login-wrap {
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
    padding: 20px;
    position: relative;
}

.login-header {
    margin: 50px 0 20px 0;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap;
}

.login-half {
  width: 50%;
}

.login-half.left {
    padding-right: 10%;
    width: 55%;
}

.forms-input {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-divider {
  width: 0%;
  position: relative;
}

.login-divider .bar-top {
    top: 0;
}

.login-divider .bar {
    width: 2px;
    height: 41%;
    width: 2px;
    position: absolute;
    background: #9b9dad;
    left: -1px;
}

.login-or {
    position: absolute;
    width: 46px;
    height: 18%;
    left: -23px;
    border: 2px solid #9b9dad;
    top: 41%;
    text-align: center;
    display: flex;
    border-radius: 10px;
    box-pack: center;
    justify-content: center;
    box-align: center;
    align-items: center;
    font-size: 1.2rem;
    line-height: 30px;
    color: #b7bbc8;
}

.login-divider .bar-bottom {
    bottom: 0;
}

.login-half.right {
    padding-left: 10%;
    width: 45%;
}




